.popup__container{
  position: absolute;
  background-color: #FFF;
  left: 0;
  right: 0;
  top: 50vh;
  transform: translateY(-50%);
  margin: auto;
  border-radius: 10px;
  max-width: 430px;
  min-width: 280px;
  padding: 34px 36px 37px;
  box-sizing: border-box;
}

@media screen and (max-width:618px){
  .popup__container{
    padding: 25px 22px;
  }
}


@media screen and (max-width:470px){
  .popup__container{
    margin: 0 19px;
  }
}

