.popup__container {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  max-width: 430px;
  min-width: 280px;
  max-height: 335px;
  padding: 34px 36px 37px;
  box-sizing: border-box;
}

@media screen and (max-width: 618px) {
  .popup__container {
    padding: 25px 22px;
  }
}

@media screen and (max-width: 470px) {
  .popup__container {
    margin: auto 19px;
  }
}
