.header__logo{
	max-width: 142px;
	margin-bottom: 41px;
}

@media screen and (max-width: 946px){
	.header__logo{
	 margin-left: 8px;
}
}

@media screen and (max-width: 730px){
	.header__logo{
	margin-bottom: 31px;
}
}

@media screen and (max-width: 618px){
	.header__logo{
		max-width: 103px;
}
}