.popup__container-item-error_active{
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color:#FF0000;
  display: block;
  min-height: 35px;
}


@media screen and (max-width:400px){
  .popup__container-item-error_active{
    min-height: 30px;
  }
}
