.popup__container-item {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 0 10px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  outline: none;
  margin: 0 0 35px;
}


@media screen and (max-width:400px){
  .popup__container-item{
  margin: 0 0 30px;
  }
}
