.card__delete-icon {
  background: url(../../../images/card/trash-icon.svg) center no-repeat;
  background-color: transparent;
  border: none;
  width: 18px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  display: block;
  transition: opacity linear 0.2s;
}

.card__delete-icon:hover {
  cursor: pointer;
  opacity: 0.6;
}
