.profile__info-edit {
  border: 1px solid #fff;
  width: 24px;
  height: 24px;
  background: url(../../../images/profile/edit_button_icon.svg) no-repeat center;
  align-self: center;
  cursor: pointer;
  margin-top: 7px;
  transition: opacity linear 0.2s;
  display: block;
  padding:0;
  border-radius: 0;
}

/* явно указан border-radius, так как на ios кнопка автоматически скругляется.
Так же не забываем обнулять у кнопок padding*/

.profile__info-edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 618px) {
  .profile__info-edit {
    width: 18px;
    height: 18px;
    margin: 3px 0 0 10px;
  }
}
