.popup__container-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  color: #000;
  margin: 0 0 48px;
}

@media screen and (max-width: 618px) {
  .popup__container-title {
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  .popup__container-title {
    margin: 0 0 75px;
  }
}
